[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/*;audio/*;video/*;image/*;inode/directory;message/rfc822;text/html;text/x-tex;
Actions=ttMoveFile;ttDeleteFile;Maketxt;DownloadFile;
X-KDE-Priority=TopLevel
X-KDE-Submenu=tt-tools
Terminal=true

[Desktop Action maketxtnoyad]
Name=tt
Icon=video
Terminal=true
Exec=tt %f "" "" "" "no" 2>&1 | tee ~/.config/tt/log

[Desktop Action Maketxt]
Name=tt with yad
Icon=video
Terminal=true
Exec=tt %f 2>&1 | tee ~/.config/tt/log

[Desktop Action ttMoveFile]
Name=ttm
Icon=audio
Terminal=true
Exec=ttm %f 2>&1 | tee ~/.config/tt/log

[Desktop Action ttDeleteFile]
Name=ttdel
Icon=video
Terminal=true
Exec=ttdel %f 2>&1 | tee ~/.config/tt/log

[Desktop Action DownloadFile]
Name=Download-File
Icon=video
Terminal=true
Exec=wgett %f 2>&1 | tee ~/.config/tt/log
