[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=template_note;template_tex;template_calc;
X-KDE-Priority=TopLevel
X-KDE-Submenu=tt-template

[Desktop Action template_note]
Name=template-note.sh create note with folder
Name[de]=template-note.sh erstelle Notiz mit Ordner
Icon=audio
Exec=template-note.sh %f 2>&1 | tee ~/.config/tt/log

[Desktop Action template_tex]
Name=template-tex.sh
Icon=video
Terminal=true
Exec=template-tex.sh %f 2>&1 | tee ~/.config/tt/log

[Desktop Action template_calc]
Name=template-calc or program
Icon=video
Terminal=true
Exec=template-calculation.sh %f 2>&1 | tee ~/.config/tt/log

