[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=text/*;
Actions=CorrectTxtFile;MakeFolder;ChangeFormat;DeleteFile;
X-KDE-Priority=TopLevel
X-KDE-Submenu=tt-tools

[Desktop Action OpenAnnotateFile]
Name=ttop
Icon=audio
Terminal=true
Exec=ttop %n 2>&1 | tee /home/christian/.config/tt/log

[Desktop Action CorrectTxtFile]
Name=ttc only for folders
Icon=video
Terminal=true
Exec=ttc %n 2>&1 | tee /home/christian/.config/tt/log

[Desktop Action MakeFolder]
Name=ttf
Icon=video
Terminal=true
Exec=ttf %n 2>&1 | tee /home/christian/.config/tt/log

[Desktop Action ChangeFormat]
Name=change-ttn-format.sh
Icon=video
Terminal=true
#Icon=application-x-java
Exec=change-ttn-format.sh %n 2>&1 | tee /home/christian/.config/tt/log

[Desktop Action DeleteFile]
Name=ttdel
Icon=video
Terminal=true
#Icon=application-x-java
Exec=ttdel %n 2>&1 | tee /home/christian/.config/tt/log

