[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=AnnotateAllFolder;AnnotateAllMoveFolder;
X-KDE-Priority=TopLevel
X-KDE-Submenu=tt-folder

[Desktop Action AnnotateAllFolder]
Name=ttd
Name[de]=ttd
Icon=audio
Exec=ttd %n

[Desktop Action AnnotateAllMoveFolder]
Name=ttdm
Name[de]=ttdm
Icon=audio
Exec=ttdm %n


