[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=AnnotateAllFolder;
X-KDE-Priority=TopLevel
X-KDE-Submenu=tt-folder

[Desktop Action AnnotateAllFolder]
Name=ttd
Name[de]=ttd
Icon=audio
Exec=ttd %f 2>&1 | tee ~/.config/tt/log
