[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=CreateFoldertxt;template_tex;template_calc;
X-KDE-Priority=TopLevel
X-KDE-Submenu=tt-template

[Desktop Action CreateFoldertxt]
Name=ttnf.sh create folder txt
Name[de]=ttnf.sh Ordner mit txt Datei erzeugen
Icon=audio
Exec=ttnf.sh %n

[Desktop Action template_tex]
Name=template-tex.sh
Icon=video
Terminal=true
#Icon=application-x-java
Exec=template-tex.sh

[Desktop Action template_calc]
Name=template-calc or program
Icon=video
Terminal=true
#Icon=application-x-java
Exec=template-calculation.sh

