[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/*;audio/*;video/*;image/*;inode/directory;message/rfc822;text/html;text/x-tex;text/*;
Actions=maketxtnoyad;
#maketxt;
X-KDE-Priority=TopLevel
Terminal=true

[Desktop Action maketxtnoyad]
Name=tt
Icon=video
Terminal=true
Exec=rm ~/.config/tt/log && tt %f "" "" "" "no" 2>&1 | tee ~/.config/tt/log

[Desktop Action maketxt]
Name=tt with yad
Icon=video
Terminal=true
Exec=rm ~/.config/tt/log && tt %f 2>&1 | tee ~/.config/tt/log
