[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=text/*;
Actions=OpenAnnotateFile;
X-KDE-Priority=TopLevel

[Desktop Action OpenAnnotateFile]
Name=ttop
Icon=audio
Terminal=true
Exec=ttop %f 2>&1 | tee ~/.config/tt/log
